@charset "utf-8";
*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to left, #45C4B0,#9AEBA3);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #13668a86;/*1 parametro pro lado, 2 parametro para baixo, 3 parametro para espalhamento */
}
h1{
    color: #012030;
    text-align: center;
    text-shadow: 1px 1px 2px #00101883;
}
h2{
    color: #13678A;
}
p{
    text-align: justify;
}